<launch>
        <node name="calculate_clco_regions" pkg="simple_reachability" type="calculate_constant_level_constant_orientation_regions" output="screen">
            <rosparam command="load" file="$(find simple_reachability)/config/constant_level_constant_orientation.yaml"/>
        </node>
</launch>
